
@model LadowebservisMVC.Models.ZberUdajovModel

@{
    ViewBag.Title = "ZberUdajov";
}





<div>
    <p>Tu je zber vašich údajov...</p>
    @*<a class="btn btn-danger" href="@Url.Action(" ZberUdajov","Home", new {Id="tlacitko1" })">Tlacitko 1</a>
        <a class="btn btn-primary" href="@Url.Action(" ZberUdajov","Home",new {Id="tlacitko2" })">Tlacitko 2</a>*@
    @*<a class="tlacitko-moje" href="@Url.Action(" ZberUdajov","Home",new {Id="tlacitko3" })">Tlacitko 3</a>*@
</div>
<br />


<div class="form-horizontal w3-text-white pt-4">
    @using (Html.BeginForm("ZberUdajov", "Home", FormMethod.Post, new { @class = "form-horizontal moj-formular" }))
    {
        @Html.ValidationSummary(true, "Udaje boli neúspešné. Prosím opravte chyby a skúste to znovu.")
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.Vstup1)
                @Html.TextBoxFor(m => m.Vstup1, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Vstup1)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.Vstup2)
                @Html.TextBoxFor(m => m.Vstup2, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Vstup2)
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="#" onclick="document.getElementById('tlacitkoPreOdoslanie').click(); return false;" class="tlacitko-moje">Odoslat</a>
                <input type="submit" id="tlacitkoPreOdoslanie" class="hidden" value="Odoslat" />
            </div>
        </div>
    }
    <p>
        <a href="@Url.Action("Login","Home",new {area = "Ladowebservis"})" class="btn btn-primary btn-lg tlacitko-moje">Odhlásiť</a>
    </p>
</div>



























