<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T46FXNQ');</script>
    <!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) -->
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=G-3PFBTR5XXW"></script>
    <script>
        window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-3PFBTR5XXW');
    </script>*@
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>@ViewBag.PageTitle</title>
    <link href="@Url.Content("~/styles/BootstrapStyleSheet.css?v4")" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    @*<link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>



    <script type="text/javascript" src="@Url.Content("~/Scripts/cart.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/checkout.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/bundle.js")"></script>*@


    @Scripts.Render("~/bundles/modernizr")

    <meta name="copyright" content="©LWS - Ladowebservis" />
    <meta name="description" content="V rámci webových služieb ponúkame dizajn webov,návrh až po vytvorenie plne funkčnej webovej stránky,mesačný hosting vášho webu na mesiac zdarma potom za mesačný poplatok, ponúkame zostavenie a opravy pc-komponentov,výpočtovej techniky,odporučenie softvérov a celkové vyladenie vašich pc zostáv..">
    <meta name="content-language" content="sk" />
    <meta property="og:image" content="~/Image/LWSlogo.jpg">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta property="og:title" content="Ladowebservis">

    @*<link rel="icon" href="https://lh3.googleusercontent.com/a-/AOh14GhU3YnT6BWyzFkB_lpJTYadC4KnMPS1VUMr3wmPmw=s96-c" type="image/x-icon">*@


    <meta name="robots" content="index, follow" />
    <meta name="author" content="Ladowebservis" />
    <meta name="keywords" content="webové služby,webové stránky,webový dizajn,webový návrh,webová stránka,webové služby" />
    <script src="https://js.stripe.com/v3/fingerprinted/js/8433-72e9ba6fe5d4f9d3d8ee8d05b6d8ad97.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/styles/w31.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" href="~/Image/pagePiling-plugin.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">





    <!-- 1. Add latest jQuery and fancybox files -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T46FXNQ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light navbar-fixed-top">

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">


                <li class="nav-item">
                    <a class="nav-link text-dark glyphicon glyphicon-home" href="@Url.Action("Index", "Home")" title="Ponuka">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark glyphicon glyphicon-heart" href="@Url.Action("About", "Home")" title="Ponuka služieb">Offer services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark glyphicon glyphicon-log-in" href="@Url.Action("Member", "Home")" title="Prihlásenie do členskej sekcie">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark glyphicon glyphicon-briefcase" href="@Url.Action("Registracia", "Home")" title="Odhlásenie">Registration</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link text-dark glyphicon glyphicon-music" href="@Url.Action("Hudba", "Home")" title="Youtube Hudba">Music</a>
                </li>




            </ul>
        </div>

        <div class="cart-icon w3-text-white">
            <img src="~/Image/shopping-cart.png" title="Košík výprázdnite obnovením tejto stránky" alt="Cart-Basket">
            <span id="cart-items" title="Počet kliknutí na pridať do košíka">0</span>
        </div>




        <a class="navbar-brand image-container" href="@Url.Action("Index","Home")"><img src="~/Image/LWSlogo.jpg" class="img-rounded" alt="logo" title=""></a>

        <div class="collapse navbar-collapse w3-text-white" id="cart-items">
            <div class="cart-items">
                <div id="cart-items-list">
                    <!-- Cart items will be added here-->
                </div>
                <div class="total-amount">
                    <br>
                    Spolu s DPH: €<span id="total-amount" class="price">0</span>
                </div>
                <script async
                        src="https://js.stripe.com/v3/buy-button.js">
                </script>

                <stripe-buy-button buy-button-id="buy_btn_1OjKxZFdjXAPBwqYuwTUnBef"
                                   publishable-key="pk_live_51OgVgeFdjXAPBwqY1wpvlVjw8LskEgLPAgDphJi1iYve7NghcBAXxzrMUKfHnWv1MLbq1uXHLljIy1EZc6TwZlL600D3u3WbQJ">
                </stripe-buy-button>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">





                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#Partners" title="Naši partnery"><span class="glyphicon glyphicon-briefcase"></span>Oriflame and Partners</a>
                    <ul class="dropdown-menu">
                        <!--li>
                        </li-->
                        <li class="active"><a class="w3-hover-white" href="https://www.ashampoo.com/de-de" target="_blank" title="Ashampoo antivirus and best safety software Deals • Poradíme správny postup &amp;  doporučíme softvér  vo  vašej oblasti •Mame nahradu za drahý a komplikovaný  MS Office ©LWS - Partner spoločnosti Ashampoo"><img src="~/Image/ashampoo.com-AshampooSoftwareDeals.png" style="width:58px;height:15px" alt="AshampooSoftwareDeals"> Ashampoo Software</a></li>
                        <li>
                        </li>
                        <li class="active">
                            <a class="w3-hover-white" href="https://www.pikatec.cz/" target="_blank" title="Pikatec • Pikatek • Nanotechnology • Energy • Meníme svet-poriadku, umytia a čistenia">
                                <img src="~/Image/Pikatec.png" style="width:58px;height:15px" alt="Pikatec • Pikatek • Nanotechnology • Energy • Meníme svet-poriadku, umytia a čistenia">
                                Pikatec
                            </a>
                        </li>
                        <li class="active">
                            <a class="w3-hover-white" href="https://www.letakomat.sk/oriflame/katalog-9-2024-od-utorka-18-06-2024-65592/" target="_blank" title="•Oriflame aktuálny katalóg">
                                <img src="~/Image/sk-oriflame-katalog.png" style="width:58px;height:15px" alt="Oriflame aktuálny katalóg">
                                Oriflame katalóg 9/2024
                            </a>
                        </li>
                        <li class="active">
                            <a class="w3-hover-white" href="https://www.mozilla.org/sk/firefox/70.0a2/whatsnew/all/?oldversion=69.0https://www.mozilla.org/sk/firefox/new/" target="_blank" title="kvalitný webový prehliadač">
                                <img src="~/Image/Layer 0.png" style="width:58px;height:15px" alt="Firefox Mozilla • Fights for family privacy •Technology"> Získajte Firefox Mozilla
                            </a>
                        </li>

                        <li class="active">
                            <a class="w3-hover-white " href="https://www.krizovkarskyslovnik.sk/" target="_blank" title="Krížovkársky slovník • Slovník krížovkára • Krížovka • Krížovky • Krížovkár">
                                <img src="https://www.krizovkarskyslovnik.sk/gfx/ikona.png" style="width:58px;height:15px" alt="Krížovkársky slovník • Slovník krížovkára • Krížovka • Krížovky • Krížovkár">
                                Slovník krížovkára
                            </a>



                            <!--li class="active"><a class=" w3-text-white w3-hover-yellow " href="https://mobil.bazos.sk/inzerat/113680396/apple-se-64-gb.php" target="_blank" title="• Inzerát na predaj telefon"><img src="./Image/LWSlogo.jpg" style="width:58px;height:15px" alt="Me"> Apple SE 64 GB </a></li-->
                            <!--li-->
                            <!-- li>
                                <li class="active"><a href="https://jolana1.github.io/ladoweb/#Domov" class="w3-padding-xsmall  w3-text-light-blue w3-hover-yellow" target="_blank" title="Ukážka môjho webu V.K • Vytvorenie funkčnej webovej stránky"><img src="./Image/jolana1.github.io-%C2%A9ladoweb.png" style="width:58px;height:15px" alt="Me"> Ukážka webu V.K.</a></li>
                            <li class="active"><a href="" target="_blank" title="Tanzanite-Gems-Cultural-Tourism • Walking cultural tourism • Your all welcome to make a dreams • We do hiking mountain Kilimanjaro  ">
                                    <img src="../WebServis/Image/tanzania/IMG_4116.JPG" style="width:58px;height:15px" class="w3-padding-xsmall  w3-text-light-blue w3-hover-yellow img-rounded" alt=""> Tanzanite-Gems-CT</a></li -->


                    </ul>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link text-dark glyphicon glyphicon-user" href="@Url.Action("Memberinfo", "Home")" title="Profil registrovaného člena">UserName</a>
                    </li>*@
                @*<li class="nav-item">
                        <a class="nav-link text-dark glyphicon glyphicon-envelope" href="@Url.Action("Kontakt", "Home")" title="formulár">Contact</a>
                    </li>*@
                <li class="nav-item">
                    <a class="nav-link text-dark glyphicon glyphicon-earphone" href="#footer" title="Volajte +421917952432 alebo 0907151293 only Slovakia">Phone</a>
                </li>
            </ul>







        </div>
    </nav>
    <!-- Indicators -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">

            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            <li data-target="#myCarousel" data-slide-to="4" class=""></li>
            <li data-target="#myCarousel" data-slide-to="5" class=""></li>

        </ol>
        <!-- Wrapper for slides -->

        <div class="carousel-inner">

            <div class="item active">


                <img src="~/Image/bg1.jpg" alt="intro" style="width:2560px;height:539px;" title="•Vitajte na stránke spoločnosti ©LadoWebServis•">
                <div class="carousel-caption">

                    <p style="color:#ffffff;text-shadow:1px 1px 4px #000000;font-size:16px;padding: 0.15em;">
                        Vitajte na našej stránke spoločnosti ©LadoWebServis.
                        <!--button style="color:#000000;text-shadow:1px 1px 4px #5d33fb;" type="button" onclick="document.getElementById(quotdemo&ampdemo).innerHTML = quot;Vitajte na stránke spoločnosti ©LWS, ponúkame Vám webové služby v oblasti dizajnu webov,návrhov až po vytvorenie plne funkčnej webovej stránky, zostavenie a opravy pc-komponentov,výpočtovej techniky,doporučenie softvérov na vyladenie pc zostáv.Ak vás tento web zaujíma alebo sa zaujímate o naše produkty a služby, kontaktujte nás najlepšie prostredníctvom formulára aj v prípade ak si vyberiete nejaký z produktov Zinzina a pod. Ďakujeme za váš záujem.quot;">Viac</button-->

                    </p>
                </div>

            </div>




            <div class="item">
                <img src="~/Image/bg2.jpg" alt="" style="width:2560px;height:539px" title="•Vitajte na stránke spoločnosti ©LadoWebServis, ponúkame Vám webové služby v oblasti dizajnu webov,návrhov až po vytvorenie plne funkčnej webovej stránky ako aj zostavenie pc-komponentov,opravy výpočtovej techniky,doporučenie softvérov na vyladenie pc zostáv.Ak vás tento web zaujíma alebo sa zaujímate o naše služby, kontaktujte nás formulárom alebo prostredníctvom e-mailu. Ďakujeme za váš záujem, Vaša spokojnosť je našou prioritou">
                <div class="carousel-caption">
                    <p style="color:#ffffff;text-shadow:1px 1px 4px #000000;font-size:18px;">Ponúkame Vám webové,pc služby&amp;kvalitné výživové produkty od švédskej spoločnosti Zinzino<br>Nenechajte si ujsť túto ponuku!</p>

                </div>
            </div>
            <div class="item">
                <img src="~/Image/Zinzino.jpg" alt="" style="width:2560px;height:539px" title="Vitajte na stránke spoločnosti ©LadoWebServis.V prípade ak si vyberiete nejaký z produktov Zinzina stači kliknúť na odkaz nižšie a následne si z webu vybrať a zaplatiť váš požadovaný tovar za akciovu cenu,nakolko sme partnerom spol. Zinzino. Srdečne ďakujeme za váš záujem,Vaša spokojnosť je našou prioritou.">
                <div class="carousel-caption">
                    <p style="color:#ffffff;text-shadow:1px 1px 4px #000000;font-size:18px;">Začnite svoju cestu za zdravím už dnes.</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Image/skusenosti.jpg" alt="" style="width:2560px;height:539px" title="webtechnologie">
                <div class="carousel-caption">
                    <p style="color:#ffffff;text-shadow:1px 1px 4px #000000;font-size:18px;">Volajte +421917952432 alebo 0907151293 only Slovakia alebo nám napíšte na e-mail<br>Neváhajte!</p>

                </div>
            </div>

            <div class="item">
                <img src="~/Image/photo-1461722936851-13a79b294a5d.jpeg" alt="max" style="width:2560px;height:539px" title="">
                <div class="carousel-caption">
                    <p style="color:#ffffff;text-shadow:1px 1px 4px #000000;font-size:18px;">Máme pre Vás nový eshop a pripravujeme členskú sekciu!</p>

                </div>
            </div>
            <!--div class="item">
                <img src="./Image/pagePiling-plugin-1.webp" alt="" style="width:2560px;height:539px" title="Vitajte na stránke spoločnosti ©LadoWebServis, ponúkame Vám webové služby v oblasti dizajnu webov,návrhov až po vytvorenie plne funkčnej webovej stránky ako aj zostavenie pc-komponentov,opravy výpočtovej techniky,doporučenie softvérov na vyladenie pc zostáv.Ak vás tento web zaujíma alebo sa zaujímate o naše služby, kontaktujte nás formulárom. Ďakujeme za váš záujem, Vaša spokojnosť je našou prioritou.">
                <div class="carousel-caption">
                 </div>
            </div-->
            <div class="item">
                <img src="~/Image/nature-4176575_1920.jpg" alt="" style="width:2560px;height:539px" title="V prípade ak si vyberiete nejaký z produktov Zinzina stači kliknúť na odkay nižšie a následne si z webu vybrať a zaplatiť váš požadovaný tovar za akciovu cenu,nakolko sme partnerom spol. Zinzino.
         •Srdečne ďakujeme za váš záujem,Vaša spokojnosť je našou prioritou.">
                <div class="carousel-caption">
                    <p style="font-size:18px;color:#fff;text-shadow:1px 1px 4px #000000;padding-bottom:.25em;text-decoration: underline; ">
                        <img src="~/Image/LWSlogo.jpg" alt="logoLWS" style="width:125px;height:42px ; padding: .2em; " title="©LadoWebServis,ponúkame Vám webové služby v oblasti dizajnu webov,návrhov až po vytvorenie plne funkčnej webovej stránky ako aj zostavenie pc-komponentov,opravy výpočtovej techniky,doporučenie softvérov na vyladenie pc zostáv.Ak vás tento web zaujíma alebo sa zaujímate o naše produkty a služby, kontaktujte nás prostredníctvom formulára alebo telefónu iba zo Slovenska. Srdečne ďakujeme za váš záujem,Vaša spokojnosť je našou prioritou."><br>
                        Ďakujeme za váš záujem.
                    </p>
                    <!--p style="color:#fff;text-shadow:1px 1px 4px #000000;padding-bottom: .55em;"><em><i class='fa fa-phone' style='font-size:13px'> +421556711924 or +421907151293 </i></em></p-->

                </div>
            </div>


            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>




    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

            @*<nav>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("About", "About", "Onás", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Kontakt", "Home", "Kontakt", new { area = "" }, new { @class = "nav-link" })</li>
                        </ul>
                    </div>
                </nav>*@
            <br>
            <div class="container-fluid" id="footer">



                <i class='fa fa-heart'><q>Your satisfaction is our priority.</q></i><br>
                @*<div class="fb-like" data-href="https://ladowebservis.sk" data-width="" data-layout="standard" data-action="like" data-size="medium" data-share="true"></div>
                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/sk_SK/sdk.js#xfbml=1&version=v15.0&appId=455914461524971&autoLogAppEvents=1" nonce="siSYyuX8"></script>*@
                <a href="https://twitter.com/ladow11" target="_blank">
                    <i class="fa fa-twitter w3-hover-text-white w3-large"></i>
                </a>
                <a href="https://www.linkedin.com/in/vladim%C3%ADr-kseni%C4%8D/" target="_blank">
                    <i class="fa fa-linkedin w3-hover-text-white w3-large"></i>&nbsp;&nbsp;
                </a>
                @*<a href="https://jolana1.github.io/ladoweb/" target="_blank">
                        <i class="fa fa-github w3-hover-text-white w3-large"></i>&nbsp;&nbsp;
                    </a>*@
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fa fa-youtube w3-hover-text-white w3-large"></i>&nbsp;&nbsp;
                </a>
                <a href="https://soundcloud.com/lado-8" target="_blank">
                    <i class="fa fa-soundcloud w3-hover-text-white w3-large"></i>&nbsp;&nbsp;
                </a>
                <a class="fa fa-facebook-official w3-hover-text-white w3-large" href="https://www.facebook.com/vladimir.ksenic" target="_blank"></a>&nbsp;&nbsp;
            </div>


            <!--End footer section-->
            <!--a href="#" class="scrollToTop show"><i class="fa fa-arrow-up" data-toggle="tooltip" title="Presunúť sa hore"></i></a-->
            <address>

                <img src="~/Image/sk.png" alt="sk" style="width:22px;height:20px; padding: .1em;">
                <p style="font-size: 18px;color:white;">
                    Postupimska ulica 31<br />
                    Košice,&nbsp;SVK<br />
                    040 22<br />
            </address>
            <abbr title="Telefón"><strong>Phone:</strong> +421917952432</abbr><br />



            <strong>Support:</strong>   <a href="mailto:podpora@ladowebservis.sk">podpora@ladowebservis.sk</a><br />
            <strong>Marketing:</strong> <a href="mailto:info@ladowebservis.sk">info@ladowebservis.sk</a>





            <p>
                <img alt="logo" src="~/Image/LWSlogo.jpg" style="width:105px;height:42px; padding: .1em;">@*&nbsp;&nbsp;&copy;Allrights reserved @DateTime.Now.Year</p><hr />*@
                <hr />
                <div class="text-center">
                    <a href="#" class="w3-button w3-white w3-padding-large w3-hover-blue"><i class="fa fa-arrow-up" data-toggle="tooltip" title="Presunúť sa hore"></i>Späť</a>
                </div>
                <hr />
                Copyright &#169; Ladowebservis @DateTime.Today.Year Allrights reserved.
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>


