@using LadowebservisMVC.Models
@model LoginModel

@{
    ViewBag.Title = "Login";
}





<div class="form-horizontal w3-text-white pt-4">
    <h2 class="section-heading text-uppercase">Pre vstup do členskej sekcie sa musíte najprv prihlásiť a potom registrovať ako nový člen!</h2>

    @using (Html.BeginForm("Member", "Home", FormMethod.Post, new { @class = "form-horizontal moj-formular" }))
    {
        <div class="form-item">
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Váš e-mail slúži ako prihlasovacie meno" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        <div class="form-item">
            @Html.LabelFor(x => x.Heslo)
            @Html.PasswordFor(m => m.Heslo, new { @class = "form-control", placeholder = "Vaše heslo" })
            @Html.ValidationMessageFor(m => m.Heslo)
            </div>
            
       
        
        @Html.ValidationSummary(true)
<div class="form-section">
    <a href="@Url.Action("Member","Home")" onclick="document.getElementById('submitButton').click(); return false;" class="btn btn-primary btn-lg tlacitko-moje">Prihlásenie</a>
    <input type="submit" id="submitButton" class="hidden" />
    <p class="text-right"><a href="@Url.Action("Registracia","Home")"onclick="document.getElementById('submitButton').click(); return false;" class="btn btn-primary btn-lg tlacitko-moje">Registrovať?</a></p>
</div>

    }
</div>





