@using LadowebservisMVC.Models
@model RegisterModel




<div class="">
    <p class="contact-items">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><span>info@ladowebservis.sk</span><br />
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><span>+421......</span>
    </p>
    <br />




    <h3 class="section-subheading text-white">
        Neváhajte sa u nás registrovať a odoslať vašu správu cez tento registračný formulár:<br />
        Vašou registráciou získavate:<br />výhodnejšie nákupy a rôzne zľavy produktov,takže neváhajte!
    </h3>

    @using (Html.BeginForm("OdoslanieReg", "Home", FormMethod.Post, new { @class = "form-horizontal moj-formular" }))
    {
        @Html.ValidationSummary(true, "Údaje boli neúspešné. Prosím opravte chyby a skúste to znovu.")


        @Html.AntiForgeryToken()
        <div class="form-item">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Vaše krstné meno" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="form-item">
            @Html.LabelFor(x => x.Priezvisko)
            @Html.TextBoxFor(m => m.Priezvisko, new { @class = "form-control", placeholder = "Vaše priezvisko" })
            @Html.ValidationMessageFor(m => m.Priezvisko)
        </div>

        <div class="form-item">
            @Html.LabelFor(x => x.Phone)
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Vaše telefónne číslo potrebné pre rýchlejšiu komunikáciu" })
            @Html.ValidationMessageFor(m => m.Phone)
        </div>
        <div class="form-item">
            @Html.LabelFor(x => x.Adresa)
            @Html.TextBoxFor(m => m.Adresa, new { @class = "form-control", placeholder = "Vaša ulica a číslo" })
            @Html.ValidationMessageFor(m => m.Adresa)
        </div>
        <div class="form-item">
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Vaše heslo" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-item">
            @Html.LabelFor(x => x.City)
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "Vaše mesto alebo obec" })
            @Html.ValidationMessageFor(m => m.City)
        </div>
        <div class="form-item">
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Váš e-mail" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-item">
            @Html.LabelFor(x => x.Captcha)
            @Html.TextBoxFor(m => m.Captcha, new { @class = "form-control", placeholder = "Potvrďte email" })
            @Html.ValidationMessageFor(m => m.Captcha)
        </div>
        <div class="form-item">
            @Html.LabelFor(x => x.Text)
            @Html.TextAreaFor(m => m.Text, new { @class = "form-control", placeholder = "Vaša správa" })
            @Html.ValidationMessageFor(m => m.Text)
        </div>




        @Html.ValidationSummary(true)
        <div class="form-section">
            <a href="#" onclick="document.getElementById('submitButton').click(); return false;" class="btn btn-primary btn-lg tlacitko-moje">Odoslať</a>
            <input type="submit" id="submitButton" class="hidden" />
        </div>
        <p>
            <a href="@Url.Action("Member","Home",new {area = ""})" class="btn btn-primary btn-lg tlacitko-moje">Odhlásiť</a>
        </p>
    }
</div>








